<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240732290824-uh3hdpqe4l8dqqk09kgrf8o3nr0s2722.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240732290824-uh3hdpqe4l8dqqk09kgrf8o3nr0s2722</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240732290824-lgvpqbamn0jr1c8vrps14qama3uhtacb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByMQ_v_Mzvj1fLOaspAJqmmfXkUdVa9JY</string>
	<key>GCM_SENDER_ID</key>
	<string>240732290824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-42ed0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-42ed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240732290824:ios:6faa913525acfef6b936bd</string>
</dict>
</plist>